// 城市搜索
	
	.city_search {
		
		.city_title {
			font-size: 14px;
			color: #777;
			margin: 20rpx 30rpx;

			padding-top: 20rpx;

			&+.city_title {
				border-top: 1px solid #eee;
			}
		}

		.adress_box {
			margin: 20rpx 30rpx;
			display: flex;
			flex-wrap: wrap;

			.btn {
				display: flex;
				width: 30%;
				justify-content: center;
				border: 1px solid #eee;
				padding: 4px 0;
				border-radius: 4px;
				color: #666;
				margin-bottom: 16rpx;
				margin-right: 16rpx;

				.iconlocation {
					display: inline-block;
					font-size: 14px;
					margin-right: 10rpx;
					padding-top: 3px;
				}

				.text {
					font-size: 14px;
					display: inline-block;
				}
			}
		}

		.text_title,.text_title_city {
			margin: 20rpx 30rpx;
			font-size: 14px;
			color: #777;
		}

		.example-body {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			padding: 0;
			font-size: 14px;
			background-color: #ffffff;
		}
	}
	.shop_select_body {
		.shop_show_title {
			margin: 10rpx 30rpx 30rpx;
			font-size: 14px;
			color: #666;
		}
	
		.flex_title {
			color: #999;
			display: flex;
			margin: 20rpx 30rpx;
			justify-content: space-between;
	
			.left {
				padding-top: 4px;
				font-size: 14px;
			}
	
			.delete {
				text-align: center;
	
				.iconfont {
					line-height: 1;
					height: 10px;
				}
	
				.text {
					font-size: 10px;
					height: 10px;
				}
			}
		}
	}